main {
    padding: 36px;
}

.form {
    display: grid;
    grid-template: 100% 100% / 1fr 1fr;
    gap: 17px;
}

.form--label {
    margin-bottom: 5px;
}

.form--input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
    height: 35px;
    width: 100%;
}

/* .form--button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
} */

.form--button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border: none;
    border-radius: 15px;
  }
  
